@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #020617;
  /* Este es el azul oscuro profundo */
  font-family: system-ui, -apple-system, sans-serif;
  color: white;
}